<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content  drag-content="false">
        <!-- HEADER -->
        <ion-nav-bar align-title="center">
            <!-- LEFT BUTTON'S -->
            <ion-nav-buttons side="left">
            </ion-nav-buttons>

            <ion-nav-title>
                <search-box>
                </search-box>
            </ion-nav-title>
            <!-- RIGHT BUTTON'S -->
            <ion-nav-buttons side="right">
                
            </ion-nav-buttons>
        </ion-nav-bar>
        <!-- CONTENT -->
        <ion-nav-view name="content"></ion-nav-view>
    </ion-side-menu-content>
    
</ion-side-menus>
